h1 {
    text-transform: capitalize;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    color: #f2f2f2;

}
body{
    background-color: hsl(210, 51%, 20%);
}

#introduction-par {
    color: #f2f2f2;
}
#goals-par{
    color: #f2f2f2;
}

#objective-list {
    color: #f2f2f2;
}

.photo-text{
    height: auto;
    max-width: 85%;
    text-align: center;
}
#myImage {
    width: 85%;
    height: auto;
    text-align: center;
    border:  10px solid #31669b;
    box-shadow: 10px 10px;
}