h1 {
    text-transform: capitalize;
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    color: #f2f2f2;

}
body{
    background-color: hsl(225, 100%, 10%);
}

#introduction-p {
    color: #f2f2f2;
}

#objective-list {
    color: #f2f2f2;
}

.photo-text{
    height: auto;
    max-width: 95%;
    left: 0px;
    right: 0px;
}
#myImage {
    width: 95%;
    height: auto;
    left: 0px;
    right: 0px;
}