h1 {
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #f2f2f2;
    font-size: 60px;

}
body{
    background-color: hsl(210, 51%, 20%);
}

#goals-par{
    color: #f2f2f2;
    padding: 5px;
    position: relative;
    bottom: 150px;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
}

#updates-list {
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 25px;

}
#update-header{
    color: #f2f2f2;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}

.photo-text{
    height: auto;
    max-width: 85%;
    text-align: center;
    margin-bottom: 250px;
}
#myImage {
    width: 85%;
    height: auto;
    text-align: center;
    border:  10px solid #31669b;
    box-shadow: 10px 10px;
    margin-bottom: 150px;
    border-radius: 15px;
}
#navbar{
    position:fixed;
    width: 100%;
}
#navLinks{/*Navigation bar, list-style-type removes the bullet point marks.*/
    color: #f2f2f2;
    text-transform: capitalize;
    font-size: 20px;
    list-style-type: none; 
    margin: 0;
    padding: 0;


}